<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.board.mapper.BoardMapper">

<resultMap type="BoardVO" id="boardmap">

<id column="BNO" property="bno"/>
<result column="TITLE" property="title"/>
<result column="WRITER" property="writer"/>
<result column="CONTENT" property="content"/>
<result column="REGDATE" property="regdate"/>
<result column="UPDATEDATE" property="updatedate"/>

<collection property="reply" ofType="ReplyVO">
<id column="RNO" property="rno"/>
<result column="REPLY" property="reply"/>
<result column="REPLYER" property="replyer"/>
</collection>

</resultMap>

<select id="getListByWriter">
SELECT * 
FROM TBL_BOARD 
<where>
<if test="writer != null">  AND WRITER like '%' || #{writer} || '%'</if>
<if test="title != null">  AND TITLE like '%' || #{title} || '%'</if>
</where>
</select>

<select id="getList" resultMap="boardmap">
SELECT
 A.*
 ,B.RNO
 ,B.REPLY
 ,B.REPLYER
FROM TBL_BOARD A
LEFT OUTER JOIN TBL_REPLY B
ON A.BNO = B.BNO
</select>

<insert id="insert">
<selectKey keyProperty="bno" order="BEFORE" resultType="long">
SELECT seq_board.nextval FROM DUAL
</selectKey>
INSERT INTO TBL_BOARD(BNO, TITLE, CONTENT, WRITER) 
VALUES (#{bno}, #{title}, #{content}, #{writer})
</insert>

<!-- 단건조회 -->
<select id="getBoard">
select *
from tbl_board
where bno = #{bno}
</select>

<select id="count">
select count(*) from tbl_board
</select>

<update id="update">
update tbl_board
set
 content = #{content}
 ,title = #{title}
 ,writer = #{writer}
where bno = #{bno}
</update>

<delete id="delete" statementType="CALLABLE" parameterType="Map">
{ call PROC_BOARD_DELETE(#{bno}, #{result, mode=OUT, jdbcType=VARCHAR, javaType=string} ) }
</delete>

</mapper>